


.header-main,
.header {
    font-family: Courier, Lucida, monospace;
}

.header-main {
    font-size: 30px;
    font-style: italic;
    font-weight: 1000;
}

.header-main,
.Home-Title {
    text-decoration: underline;
}

.recipies {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 25px;
}

.header {font-size: 24px;}

.description {
    font-family: Times, Georgia, serif;
    font-size: 17px;
}

.ingredients {
    font-family: Times, Georgia, serif;
    font-size: 17px;
}

.steps {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.Home {
    font-family: Times, Georgia, serif;
    font-size: 20px;
    font-weight: 600;
}


